<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1038728610-cud5p4e5ikr4i9s4g20j3l6dl4ng31ir.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1038728610-cud5p4e5ikr4i9s4g20j3l6dl4ng31ir</string>
	<key>API_KEY</key>
	<string>AIzaSyCHYoBhmJ7Xn4kGsEjCfRpnNkQ_8vxNZ5Q</string>
	<key>GCM_SENDER_ID</key>
	<string>1038728610</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.untitled</string>
	<key>PROJECT_ID</key>
	<string>login-chatting-app</string>
	<key>STORAGE_BUCKET</key>
	<string>login-chatting-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1038728610:ios:bd1e0a226290f226b706fb</string>
</dict>
</plist>